<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Realtime Story - Vue.js (v0.9.3) + Firebase Database & Cloud functions</title>
  <meta name="description" content="Realtime Story - Vue.js + Firebase Database & Cloud functions" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <div class="container-fluid" id="app">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">The neverending realtime story... </span>
        </div>
        <span class="experiment label label-success">Experiment with <a href="http://vuejs.org">Vue.js (v0.9.3)</a> and
          <a href="https://firebase.com">Firebase Database & Cloud functions</a>
        </span>
      </div>
    </nav>

    <div class="story" v-cloak>
      <pre v-if="sentences.length">
        <span v-repeat="sentences">{{ text | formatSentence }}<em>{{ author}}</em>&nbsp;</span>
      </pre>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="form">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Add a sentence</a>
        </div>
        <div>
          <form class="navbar-form navbar-left" role="search" v-on="submit: addSentence">
            <div class="form-group">
              <input type="text" class="form-control" v-model="sentence_author" placeholder="your name here" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" v-model="sentence_text" placeholder="your sentence here" required>
            </div>
            <button type="submit" class="btn btn-default btn-primary">Add</button>
          </form>
        </div>
      </div>
    </nav>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@0.9.3/dist/vue.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-database.js"></script>

  <script>
    var firebaseConfig = {
      databaseURL: "https://realtime-story.firebaseio.com"
    };
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="scripts/main.js"></script>
</body>

</html>